name: "Create Release"
on:
  push:
    tags:
      - "*"

jobs:
  release:
    name: "Make Release"
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Compress Archives
        run: |
          tar -czf AtomicTransact.xcframework.tar.gz artifacts/AtomicTransact.xcframework
          tar -czf QuantumIOS.xcframework.tar.gz artifacts/QuantumIOS.xcframework
          tar -czf MuppetIOS.xcframework.tar.gz artifacts/MuppetIOS.xcframework
      - name: Create Release
        uses: mikepenz/action-gh-release@main
        with:
          body_path: ${{ github.workspace }}/.github/releases/release-body.txt
          files: |
            AtomicTransact.xcframework.tar.gz
            QuantumIOS.xcframework.tar.gz
            MuppetIOS.xcframework.tar.gz
